<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="signin.aspx" timeout="2880" defaultUrl="signin.aspx"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364"/>
    <customErrors mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IDOWebServiceSoap"
                 maxReceivedMessageSize="2147483647"
                 openTimeout="03:00:00"
                 receiveTimeout="03:00:00"
                 closeTimeout="03:00:00"
                 sendTimeout="03:00:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tak-db/IDORequestService/IDOWebService.asmx" binding="basicHttpBinding" bindingConfiguration="IDOWebServiceSoap" contract="SLWebServices.IDOWebServiceSoap" name="IDOWebServiceSoap"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="PageTimeOut" value="60"/>
    <!--30 Minutes-->
    <add key="TaskInterval1" value="240"/>
    <!--240 *0.5 sec.-->
    <add key="TaskInterval2" value="600"/>
    <!--600 *0.5 sec.-->
    <!--TAK_UAT-->
    <!--<add key="ReportAddress" value="http://tak-app/report/"/>-->
    <!--PPCC_TAK-->
    <add key="ReportAddress" value="http://tak-db/report/"/>
    <!--<add key="Configuration" value="TAK_UAT"/>-->
    <add key="Configuration" value="TAK_LIV"/>
    <!--alway add '/' in last URL character-->
  </appSettings>
</configuration>